* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Montserrat;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    background-color: #eff5f4;



}

section {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 1.2rem;
    color: #600E0D;
    padding-top: 20px;

}

.button {
    text-align: center;
    max-width: 200px;
    background-color: #600e0d;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
  background-color: #000000;
}


.button a {
    font-size: 1rem;
    font-weight: bold;
    font-family: Montserrat;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}


/*FOOTER*/
.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #600E0D;
    color: #fffdd0;

}

.footer-adress {
    padding-left: 20px;
    flex-basis: 20%;
    font-size: .9rem;
}

.footer-number a{
    color: #FCF8E8;
    font-size: 1rem;
    flex-basis: 30%;
}

.footer-number h3 {
    font-size: 1rem;
}

.socials {
    flex-basis: 13%;
    
}

.socials ul li {
    display: inline-flex;
    list-style-type: none;
}

.socials ul li i {
    color: #eff5f4;
    font-size: 1.5rem;
    padding: 5px 10px;
    


}

/******************************************************************************************************Navigation***************************************************************************************************************/
header {

    background-color: #fffdd0;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #FCF8E8;
    align-items: center;
    padding-top: 5px;
    margin-top: 0%;
    margin-bottom: 0;
    width: 100%;
}

.logo img {
    flex-basis: 1;
    flex-shrink: 2;
    max-height: 120px;
    padding: 10px 0px;
    margin-left: 20px;
}

nav {
    display: flex;
    padding: 0%;
    

}

nav ul li {
    display: inline-flex;

}

nav li a {
    font-family: Montserrat;
    font-size: .9rem;
    color: #600E0D;
    text-decoration: none;
    padding: 0 8px;
    text-transform: uppercase;

}

nav li a:hover {
    font-weight: bolder;
    text-decoration: underline;
}
nav li a:active {
    font-size: 1rem;
}



/***************************************************************************************HERO IMAGE*************************************************************************************/
.hero-container {
    background-image: linear-gradient(to top, rgba(20, 18, 18, 0.219), rgba(116, 115, 111, 0.418)),
        url(/resources/images/Sams\ food\ example.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.hero-content {
    flex-basis: 100%;
    background: white;
    padding: 1em;
    opacity: .5;

}

.hero-content p {
    color: #0c0b09;
    font-size: 1.3rem;
}

@media only screen and (max-width: 450px) {

    .navigation-container {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        flex-direction:row;
        justify-content: center;

    }
    nav ul li{
        display: flex;
        font-weight: bold;
    }

    nav ul li p{
        font-weight: bold;
        font-size: 1rem;

    }
    nav ul li a{
        justify-content: center;
        align-items: center;
        padding: 0px 4px 6px 4px;
        text-decoration: underline;
    }
    .footer-adress p {
        display: none;
    }

}

/***********************************LOCATION*************************************************************************************************************************************/
.location-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.location-logo {
    height: 200px;
    margin: 0;
    padding: 0;
}

.location-logo img {
    height: 100%;
}

.location-map {
    border: #600E0D solid 3px;
    border-radius: 2%;
}

.location-adress {
    flex-shrink: 2;
    text-align: center;
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
}

.location-adress h1 {
    text-transform: uppercase;
    color: #600E0D;
    font-size: 1.8rem;
    font-family: "PT Serif";
    padding: 0x;
    margin: 0;
}

@media only screen and (max-width: 450px) {
    .location-logo {
        display: none;
    }
}


/******************** CONTACT US*****************************************************************************************************************************************************************************/

.contact-container {
   /* background-image: url(/resources/images/Sams\ outside\ pic\ example.jpeg);*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.contact-container .socials{
    margin-top: 20px;
}
.contact-container .socials ul li i {
    color:#600E0D;
    font-size: 3rem;
}

.contact-container .socials ul li i:hover{
    font-size: 3.5rem;
} 
.contact-container h1{
  font-size: 1.7rem;
}
.contact-container img {
   max-height: 330px;
   
}

.contact-box p{
    font-style: italic;
    
}
.contact-box p span {
    text-transform: uppercase;
    font-weight: bold;
    color: #600E0D;
    line-height: 1.2rem;

}

.contact-box embed {
    text-transform: uppercase;
}

.contact-box {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    flex-basis: 30%;
    height: 60%;
    min-width: 300px;
    color: #000000;
    padding: 10px;
    line-height: 35px;
   }
  
   .phone-number{
       
       color: #000000;
       font-size: 1.3rem;
       cursor: pointer;
   }
.email-us {
    margin-top: 20px;
}
@media only screen and (max-width: 450px) {
    .contact-container .socials{
        margin-top: 10px;
    }
    .contact-box {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        flex-basis: 30%;
        height: 40%;
        min-width: 300px;
        color: #000000;
        padding: 1px;
        line-height: 35px;
       }
       .contact-container h1{
        font-size: 1.5rem;
    }
   
}



/*****************************************ABOUT US**************************************************************************************************/
.about-container {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;


}

.about-container img {
    padding: 0;
    margin: 0;
    height: 320px;

}



.about-info {
    flex-basis: 40%;

}

.about-info p {
    font-size: 1.2rem;
    padding-top: 10px;
    line-height: 30px;
}

.about-info h1 {
    font-size: 1.7rem;
}

@media only screen and (max-width: 450px) {
    .about-info {
        flex-basis: 70%;
    }

    .about-info h1 {
        font-size: 1.5rem;
        padding: 0;


    }

    .about-container img {
        display: block;
        height: 250px;
        padding: 0;
    }

    .about-info p {
        font-size: 1.1rem;
        line-height: 25px;
        text-align: left;
        ;
    }
}



/*                                    MENU                             */
.menu-navigation {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 3rem;
    flex-wrap: wrap;
    width: 100%;

}

.menu-navigation h1 {
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
    width: 100%;
    text-align: center;
}


.menu-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eff5f4;
    padding: 5px 0;

}

.menu-section h1 {
    text-align: center;
    font-family: Allura;
    font-size: 3rem;
    padding: 5px auto;
    color: black;
    width: 100%;
}

.menu-section p span {
    font-weight: bold;
}

.menu-container {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



.menu-item {
    width: 40%;
    padding: 1rem;
}

.menu-item h3 {
    padding-bottom: .6rem;
    color: #600E0D;
}

.menu-item p {
    font-size: 1.1rem;
    line-height: 1.2.3rem;
}

.menu-toppings {
    flex-basis: 80%;
    border: #600E0D solid 2px;
    margin: 20px auto;
    padding: 10px 5%
}


.combination-box {
    border: 2px solid black;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 5%;
    margin: 15px;
}

.menu-button {
    margin-left: 50%;
}

@media only screen and (max-width: 460px) {

    .button {
        flex: 1;
    }
    .menu-navigation{
        flex-direction: column;
    }
    .menu-navigation h1 {
        padding: 5px;
        font-size: .7rem;
    }

    .menu-navigation h1 {
        font-size: 2rem;
    }

    .menu-container {
        flex-direction: column;
    }
    .menu-container h1{
        margin: 0;
        padding: 0%;
    }

    .menu-item {
        width: 100%;
    }

}


/*=========================== GALLERY  =========================================*/
.gallery-container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.gallery-container img {
    height: 300px;
    width: 300px;
}
.gallery-container img:hover{
    height: 600px;
    width: 600px;
}

/**************************EVENTS********************************************************************************************************/
.event-container{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}
.event-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  
    
}
.event-box h1{
    padding: 10px 0;
    text-transform: uppercase;
}
@media only screen and (max-width: 460px) {
    .event-container{
        flex-wrap: wrap;
    }
}

